html, body {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden; }

a,
a:hover,
a:focus,
a:active,
a:visited,
a.active {
  outline: none;
  text-decoration: none; }

.zero {
  padding: 0; }

h1 {
  font-size: 30px; }

header img {
  height: 36px;
  margin-bottom: 20px; }
header h1 {
  display: inline-block; }
header div.right-side p {
  font-size: 30px;
  margin-top: 15px;
  padding-left: 20px;
  border-left: 4px solid #000000; }

nav.navbar-default, .navbar {
  background-color: #202020;
  border: none;
  height: 718px;
  border-radius: 0;
  margin-bottom: 0; }
  nav.navbar-default .container-fluid, .navbar .container-fluid {
    padding: 0; }
    nav.navbar-default .container-fluid .navbar-brand, .navbar .container-fluid .navbar-brand {
      display: none; }
    nav.navbar-default .container-fluid .navbar-collapse, .navbar .container-fluid .navbar-collapse {
      padding: 0;
      color: #202020; }
      nav.navbar-default .container-fluid .navbar-collapse .nav > li > a:hover, .navbar .container-fluid .navbar-collapse .nav > li > a:hover {
        background-color: none; }
      nav.navbar-default .container-fluid .navbar-collapse .nav-pills li a, .navbar .container-fluid .navbar-collapse .nav-pills li a {
        color: #FFFFFF;
        border-radius: 0; }
        nav.navbar-default .container-fluid .navbar-collapse .nav-pills li a img, .navbar .container-fluid .navbar-collapse .nav-pills li a img {
          padding: 10px; }
      nav.navbar-default .container-fluid .navbar-collapse .nav-pills li a:hover, .navbar .container-fluid .navbar-collapse .nav-pills li a:hover {
        background-color: #000000 !important; }
      nav.navbar-default .container-fluid .navbar-collapse .nav-pills li.active > a, .navbar .container-fluid .navbar-collapse .nav-pills li.active > a {
        background-color: #edae44; }

div.form-side {
  height: 718px;
  border-top: 20px solid #F3F3F3;
  border-left: 20px solid #F3F3F3;
  padding-left: 20px; }
  div.form-side .hr-one {
    border-top: 1px solid #edae44; }
  div.form-side .hr-two {
    border-top: 1px dashed #edae44; }
  div.form-side form.form-horizontal {
    border: 2px solid #F3F3F3;
    box-shadow: 10px 5px 0 #F3F3F3; }
    div.form-side form.form-horizontal .form-group {
      margin-top: 15px; }
      div.form-side form.form-horizontal .form-group .control-label {
        text-align: left;
        margin-left: 10px; }
      div.form-side form.form-horizontal .form-group button.btn-default {
        margin-left: 12px;
        background-color: #edae44; }
      div.form-side form.form-horizontal .form-group button.btn-default:hover {
        background-color: #ff9900; }
  div.form-side p {
    margin: 10px 0; }

input.form-control:focus {
  border-color: #edae44;
  box-shadow: none; }

@media (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }

  .navbar-header {
    float: none; }

  header div.left-side, header .right-side {
    display: none; }

  nav.navbar-default, .navbar {
    height: auto; }
    nav.navbar-default .navbar-header button.navbar-toggle, .navbar .navbar-header button.navbar-toggle {
      border-color: #edae44;
      margin-top: 32px;
      margin-right: 30px; }
      nav.navbar-default .navbar-header button.navbar-toggle .icon-bar, .navbar .navbar-header button.navbar-toggle .icon-bar {
        background-color: #edae44; }
    nav.navbar-default .navbar-header a.navbar-brand, .navbar .navbar-header a.navbar-brand {
      height: 90px;
      display: inline-flex;
      padding-left: 40px; }
      nav.navbar-default .navbar-header a.navbar-brand img, .navbar .navbar-header a.navbar-brand img {
        height: 42px;
        margin-top: 17px; }
      nav.navbar-default .navbar-header a.navbar-brand h1, .navbar .navbar-header a.navbar-brand h1 {
        color: #FFFFFF;
        margin-top: 19px; }

  div.form-side {
    height: auto; }
    div.form-side form.form-horizontal {
      margin-right: 15px; } }

/*# sourceMappingURL=style.css.map */
