
html,body{
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	overflow-x: hidden;
	
};

a,
a:hover,
a:focus,
a:active,
a:visited,
a.active {
  outline: none;
  text-decoration: none;

}

// color
$black:#000000;
$mostlyBlack:#202020;
$orange:#edae44;
$lightGray:#F3F3F3;
$strongOrange:#ff9900;
$white:#FFFFFF;

// border
$border:20px solid #F3F3F3;


.zero{
	padding:0;
}

h1{
	font-size:30px;
}

header{
	img{
		height: 36px;
		margin-bottom: 20px;

	}
	h1{
	display:inline-block;
	}
	div.right-side{
		
		p{
			font-size: 30px;
			margin-top: 15px;
			padding-left:20px;
			border-left:4px solid $black;
		}
  }
}


nav.navbar-default,.navbar{
	background-color:$mostlyBlack;
	border:none;
	height:718px;
	border-radius:0;
	margin-bottom:0;

		.container-fluid{
			padding: 0;

			.navbar-brand{
				display: none;
			}


			.navbar-collapse{
				padding:0;
				color:$mostlyBlack;

				.nav > li > a:hover{
					background-color:none;
				}




				.nav-pills{ 
					li{
					  	a{ 
							color:$white;
							border-radius:0;

								img{padding:10px;}
			
						}
						a:hover{
							background-color:$black !important;;
						}
					}

					li.active > a{
						background-color:$orange;
					}
				}
			}

		}

}


div.form-side{
	height:718px;
	border-top:$border;
	border-left:$border;
	padding-left:20px;

		.hr-one{
			border-top:1px solid $orange;
		}
		.hr-two{
			border-top:1px dashed $orange;
		}

		form.form-horizontal{
			border:2px solid $lightGray;
			box-shadow: 10px 5px 0 $lightGray;
			.form-group{
				margin-top: 15px;

					.control-label{
						text-align: left;
						margin-left:10px

					}
					button.btn-default{
						margin-left:12px;
						background-color:$orange;
					}
					button.btn-default:hover{
						background-color:$strongOrange;
					}
			}
		}
	p{
		margin:10px 0;
	}

}

input.form-control:focus{
	border-color: $orange;
	box-shadow:none;
}



@media (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }

	header{
		div.left-side,.right-side{
			display: none;
		}
	}






    nav.navbar-default,.navbar{
    	height:auto;

	    	.navbar-header{
	    		button.navbar-toggle{
	    			border-color: $orange;
	    			margin-top: 32px;
	    			margin-right: 30px;

	    				.icon-bar{
	    					background-color:$orange;
	    				}
	    		}

	    		a.navbar-brand{
	    			height: 90px;
	    			display: inline-flex;
	    			padding-left:40px;

		    				img{height:42px;
		    					margin-top:17px;}

		    				h1{color:$white;
		    					margin-top:19px;}
	    		}

	    	}
 
}


	div.form-side{
		height:auto;

			form.form-horizontal{
				margin-right:15px;
			}

	}

}
// end @media