/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #003366;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

a,
a:hover,
a:focus,
a:active,
a:visited,
a.active {
  outline: none;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anaheim', sans-serif; }

a, p, ul {
  font-family: 'Raleway', sans-serif; }

.title-bar {
  height: 5em;
  background-color: #FFFFFF; }
  .title-bar .menu-icon::after {
    background-color: #003366;
    box-shadow: 0 7px 0 #003366, 0 14px 0 #003366; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  padding: 0; }
  .fullWidth .top-bar {
    background-color: #FFFFFF;
    padding: 0; }
    .fullWidth .top-bar ul {
      background-color: #FFFFFF;
      text-align: center;
      max-height: 5rem; }
      .fullWidth .top-bar ul .menu-left {
        padding: 0; }

ul.menu-style {
  background-color: #FFFFFF; }
  ul.menu-style li a {
    color: #003366;
    font-family: 'Anaheim', sans-serif;
    font-size: 1.5rem; }
    @media screen and (min-width: 40em) and (max-width: 51.875em) {
      ul.menu-style li a {
        font-size: 1.8rem;
        padding-right: 0.9rem;
        padding-left: 0.8rem;
        font-weight: bold; } }
  ul.menu-style li .magic, ul.menu-style li .magic a {
    margin-top: 1rem;
    font-family: 'Anaheim', sans-serif;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    color: #000000;
    font-weight: bold; }

hr.style-four {
  height: 0.75rem;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  min-width: 100%;
  margin: 0; }

section.main-content {
  height: calc(100vh - 9.75rem);
  margin: 2rem 0; }
  section.main-content .main-content-left {
    padding-left: 3.125rem;
    border-right: 1px solid #003366;
    height: 522px;
    background-image: url("../img/pnl.jpg");
    background-repeat: no-repeat;
    background-position: top right; }
    section.main-content .main-content-left .main-content-paragraph {
      width: 70%;
      height: 45%; }
  section.main-content .main-content-right {
    padding-right: 3.125rem;
    height: 522px;
    background-image: url("../img/pnp.jpg");
    background-repeat: no-repeat;
    background-position: top left; }
    section.main-content .main-content-right .main-content-paragraph {
      float: right;
      width: 70%;
      height: 45%; }

.hollow.button.btn-main {
  border: 1px solid #003366;
  color: #000000; }
  .hollow.button.btn-main a {
    color: #000000; }

section.main-info {
  height: auto !important;
  height: 100%;
  background-color: #193761;
  color: #FFFFFF; }
  section.main-info .main-info-three {
    padding: 0 3.125rem;
    border-right: 1px solid #FFFFFF;
    margin: 3.75rem 0;
    min-height: 38.75rem; }
    section.main-info .main-info-three img {
      padding: 3.125rem 0; }
    section.main-info .main-info-three p {
      height: 16rem;
      overflow: hidden; }
    section.main-info .main-info-three a.hollow.button.main-info-btn {
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      margin-bottom: 0; }
  section.main-info .main-info-three:last-child {
    border-right: none; }

section.main-news {
  height: auto !important;
  height: 100%; }
  section.main-news .main-news-header {
    padding: 3.125rem; }
  section.main-news .main-news-three {
    padding: 0 3.125rem;
    border-right: 1px solid #003366;
    margin-bottom: 3.75rem; }
    section.main-news .main-news-three img {
      padding: 3.125rem 0; }
    section.main-news .main-news-three p.main-news-paragraph {
      min-height: 12.5rem;
      overflow: hidden; }
    section.main-news .main-news-three span.comment {
      float: right; }
    section.main-news .main-news-three a.main-news-btn {
      color: #000000;
      border-color: #000000; }
  section.main-news .main-news-three:last-child {
    border-right: none; }

footer {
  background-color: #193761;
  color: #FFFFFF; }
  footer .footer-left {
    padding-left: 3.125rem;
    margin: 3.75rem 0;
    border-right: 1px solid #FFFFFF; }
    footer .footer-left a {
      color: #FFFFFF; }
  footer .footer-right {
    padding: 0 3.125rem;
    margin: 3.75rem 0; }
  footer #delivered {
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
    padding-top: 1rem;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 3.125rem; }
    footer #delivered a h4 {
      margin-bottom: 0;
      color: #000000; }

div.orbit {
  /* koniec ul orbit */ }
  div.orbit ul.orbit-container {
    height: auto !important; }
    div.orbit ul.orbit-container button.orbit-previous, div.orbit ul.orbit-container .orbit-next {
      top: 350px;
      padding: 0.8rem;
      color: #193761;
      background-color: rgba(255, 255, 255, 0.7);
      border: 1px solid #000000; }
    div.orbit ul.orbit-container li.is-active, div.orbit ul.orbit-container .orbit-slide {
      height: auto; }
      div.orbit ul.orbit-container li.is-active img.orbit-image-manual, div.orbit ul.orbit-container .orbit-slide img.orbit-image-manual {
        height: 350px; }
      div.orbit ul.orbit-container li.is-active figcaption.orbit-main, div.orbit ul.orbit-container .orbit-slide figcaption.orbit-main {
        position: absolute;
        top: 0;
        width: 60%;
        color: #FFFFFF;
        padding-left: 2rem;
        padding-top: 1rem;
        text-align: justify; }
      div.orbit ul.orbit-container li.is-active div.main-slider, div.orbit ul.orbit-container .orbit-slide div.main-slider {
        padding: 1rem 0 1rem 2rem;
        height: auto;
        min-height: 350px;
        width: 60%;
        text-align: justify; }

/* koniec orbita */
section.about-me .about-me-left {
  text-align: justify; }
section.about-me .about-me-right, section.about-me .about-me-left {
  padding: 3.125rem; }

section.contact div.contact-data .contact-data-left, section.contact div.contact-data .contact-data-right {
  padding: 0 3.125rem;
  margin: 3.75rem 0; }
  section.contact div.contact-data .contact-data-left a, section.contact div.contact-data .contact-data-right a {
    color: #000000; }
section.contact div.contact-data .contact-data-right {
  border-left: 1px solid #003366; }
section.contact div.maps {
  padding: 0; }
  section.contact div.maps iframe.maps-ramka {
    padding: 0 3.125rem;
    margin-top: 2.5rem;
    margin-bottom: 3.75rem;
    width: 100%;
    height: auto;
    min-height: 300px; }
section.contact #delivered-contact {
  width: 100%;
  background-color: #193761;
  color: #FFFFFF;
  padding-top: 1rem;
  padding-right: 0;
  padding-bottom: 1rem;
  padding-left: 3.125rem; }
  section.contact #delivered-contact a h4 {
    margin-bottom: 0;
    color: #FFFFFF; }

.scrollup {
  width: 48px;
  height: 48px;
  text-decoration: none;
  background: url("../img/newarrow.png") no-repeat 0px 0px;
  position: fixed;
  right: 5px;
  bottom: 70px;
  display: none;
  z-index: 99999; }

/* Small only  639px*/
@media screen and (max-width: 39.9375em) {
  h2, h3 {
    font-size: 2rem; }

  h4 {
    font-size: 1.5rem; }

  ul.menu-style {
    display: initial; }
    ul.menu-style li a {
      background-color: #FFFFFF;
      border-bottom: 1px solid #003366;
      position: relative;
      font-weight: bold;
      display: inherit; }
    ul.menu-style li .magic, ul.menu-style li .magic a {
      display: none; }

  section.main-content {
    height: auto;
    margin-bottom: 0; }
    section.main-content .main-content-left, section.main-content .main-content-right {
      border-right: none;
      background-image: none;
      padding: 0 1rem;
      height: auto;
      text-align: center !important;
      margin-bottom: 2rem; }
      section.main-content .main-content-left .main-content-paragraph, section.main-content .main-content-right .main-content-paragraph {
        width: auto;
        height: auto; }

  section.main-info .main-info-three {
    padding-top: auto;
    padding-right: 1rem;
    padding-bottom: auto;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
    border-right: none;
    padding-bottom: 3rem;
    border-bottom: 5px solid #FFFFFF; }
    section.main-info .main-info-three p {
      height: 13rem; }

  section.main-news .main-news-header {
    padding: 1rem; }
  section.main-news .main-news-three {
    padding: 0 1rem;
    border-right: none; }
    section.main-news .main-news-three img {
      padding: 1rem 0; }

  footer .footer-left, footer .footer-right {
    padding: 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: center;
    border-right: none; }
  footer #delivered {
    text-align: center;
    padding-left: 0; }

  .footer-left {
    border-bottom: 5px solid white; }

  div.orbit {
    height: auto;
    /* koniec ul contener */ }
    div.orbit ul.orbit-container button.orbit-previous, div.orbit ul.orbit-container .orbit-next {
      position: fixed;
      top: 250px; }
    div.orbit ul.orbit-container li.is-active, div.orbit ul.orbit-container .orbit-slide {
      height: auto; }
      div.orbit ul.orbit-container li.is-active img.orbit-image-manual, div.orbit ul.orbit-container .orbit-slide img.orbit-image-manual {
        height: 127px; }
      div.orbit ul.orbit-container li.is-active figcaption.orbit-main, div.orbit ul.orbit-container .orbit-slide figcaption.orbit-main {
        width: 100%;
        padding: 1rem; }
        div.orbit ul.orbit-container li.is-active figcaption.orbit-main h3, div.orbit ul.orbit-container .orbit-slide figcaption.orbit-main h3 {
          font-size: 3rem;
          text-align: center;
          text-decoration: underline;
          text-shadow: 1px 1px 0 #000000; }
        div.orbit ul.orbit-container li.is-active figcaption.orbit-main p, div.orbit ul.orbit-container .orbit-slide figcaption.orbit-main p {
          display: none; }
        div.orbit ul.orbit-container li.is-active figcaption.orbit-main ul, div.orbit ul.orbit-container .orbit-slide figcaption.orbit-main ul {
          display: none; }
      div.orbit ul.orbit-container li.is-active div.main-slider, div.orbit ul.orbit-container .orbit-slide div.main-slider {
        width: 100%;
        height: auto;
        padding: 1rem 2rem; }
        div.orbit ul.orbit-container li.is-active div.main-slider h3, div.orbit ul.orbit-container .orbit-slide div.main-slider h3 {
          text-align: center; }
        div.orbit ul.orbit-container li.is-active div.main-slider ul, div.orbit ul.orbit-container .orbit-slide div.main-slider ul {
          text-align: justify; }

  /* koniec orbita */
  section.contact div.contact-data {
    text-align: center; }
    section.contact div.contact-data .contact-data-left, section.contact div.contact-data .contact-data-right, section.contact div.contact-data .contact-data-right {
      padding: 0 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      border-left: none;
      border-bottom: 1px solid #003366; }
      section.contact div.contact-data .contact-data-left a, section.contact div.contact-data .contact-data-right a, section.contact div.contact-data .contact-data-right a {
        color: #000000; }
  section.contact div.maps {
    padding: 0; }
    section.contact div.maps iframe.maps-ramka {
      padding: 0 1rem;
      margin: 1rem auto; }
  section.contact #delivered-contact {
    padding: 1rem;
    text-align: center; }

  section.about-me .about-me-left, section.about-me .about-me-right, section.about-me .about-me-left {
    padding: 1rem; } }
/* Medium only 640-1022px*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  p {
    font-size: 1.2rem; }

  section.main-content {
    height: auto !important;
    min-height: 100%; }
    section.main-content .main-content-left {
      border-right: none; }
    section.main-content button.hollow.button.btn-main {
      margin-top: 1rem; }

  section.main-info .main-info-three {
    border-right: none;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 2.5rem;
    border-bottom: 5px solid #FFFFFF; }
    section.main-info .main-info-three p {
      height: 8rem; }

  section.main-news .main-news-three {
    border-right: none; }

  footer .footer-left {
    border-right: none;
    border-bottom: 1px solid white;
    border-bottom-width: 5px;
    margin-top: 1rem;
    margin-bottom: 0; }
  footer .footer-right {
    margin-top: 1rem;
    margin-bottom: 0; }

  div.orbit {
    /* koniec ul orbit */ }
    div.orbit h3 {
      font-weight: bold; }
    div.orbit p, div.orbit li {
      font-size: 1.2rem; }
    div.orbit ul.orbit-container {
      height: auto !important;
      /* koniec li activ */ }
      div.orbit ul.orbit-container button.orbit-previous, div.orbit ul.orbit-container .orbit-next {
        top: 400px; }
      div.orbit ul.orbit-container li.is-active, div.orbit ul.orbit-container .orbit-slide {
        height: auto; }
        div.orbit ul.orbit-container li.is-active img.orbit-image-manual, div.orbit ul.orbit-container .orbit-slide img.orbit-image-manual {
          height: 400px; }
        div.orbit ul.orbit-container li.is-active figcaption.orbit-main, div.orbit ul.orbit-container .orbit-slide figcaption.orbit-main {
          width: 80%; }
        div.orbit ul.orbit-container li.is-active div.main-slider, div.orbit ul.orbit-container .orbit-slide div.main-slider {
          height: auto;
          min-height: 400px;
          width: 80%; }

  /* koniec orbita */
  section.contact div.contact-data {
    text-align: center; }
    section.contact div.contact-data div.contact-data-right, section.contact div.contact-data .contact-data-left, section.contact div.contact-data .contact-data-right {
      border-left: none;
      margin-top: 1rem;
      margin-bottom: 0;
      border-bottom: 1px solid #003366; } }
/* Large and up 1024px*/
/* Large only 1024 - 1199 */

/*# sourceMappingURL=app.css.map */
