
// COLOR
$blue:#003366;
$white:#FFFFFF;
$black:#000000;
$blueMain:#193761;

// PADDING
$padding0:0;
$padding:3.125rem;


@mixin padding-all($top, $right, $bottom, $left){
padding-top: $top;
padding-right: $right;
padding-bottom: $bottom;
padding-left: $left;
}



// mixin hover navigation
@import "mixin";  


a,
a:hover,
a:focus,
a:active,
a:visited,
a.active {
  outline: none;
  text-decoration: none;

}


h1,h2,h3,h4,h5,h6{
	font-family: 'Anaheim', sans-serif;
}
a,p,ul{
	font-family: 'Raleway', sans-serif;

}

// MAIN PAGE!!!!!!!!!MAIN PAGE!!!!!
	

// Navigation	

.title-bar{
	height:5em;
	background-color:$white;

		.menu-icon::after{
			background-color: $blue;
			box-shadow: 0 7px 0 $blue, 0 14px 0 $blue;
		}
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   padding: $padding0;

  

   	.top-bar{
   		background-color:$white;
   		padding:$padding0;

   		ul{
   			background-color:$white;
   			text-align: center;
   			max-height: 5rem;
   			
   				.menu-left{
   					padding:$padding0;
   				}

		}
	}
}

// right

ul.menu-style{
	background-color:$white;

		li{
			a{
				color:$blue;
				font-family: 'Anaheim', sans-serif;
			 	font-size: 1.5rem;
			 	@media screen and (min-width: 40em) and (max-width: 51.875em) {
			 		font-size:1.8rem;
			 		padding-right: 0.9rem;
			 		padding-left:0.8rem;
			 		font-weight: bold;
			 	}
			}


		.magic{
				margin-top:1rem;
				font-family: 'Anaheim', sans-serif;
				font-size:1.2rem;
				padding-left:1rem;
				padding-right:2rem;
				color:$black;
				font-weight: bold;

					a{
						@extend .magic;
					}

			  }
		   }
}



hr.style-four {
    height: 0.75rem;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    min-width: 100%;
    margin:0;
}

// Section Main Content

section.main-content{


	height:calc(100vh - 9.75rem);
	margin:2rem 0;

	.main-content-left{
		padding-left:$padding;
		border-right:1px solid $blue;
		height:522px;
		background-image:url('../img/pnl.jpg');
		background-repeat: no-repeat;
		background-position:top right;



			.main-content-paragraph{
				width: 70%;
				height: 45%;
			}

	}

	.main-content-right{
		padding-right:$padding;
		height:522px;
		background-image:url('../img/pnp.jpg');
		background-repeat: no-repeat;
		background-position:top left;

			.main-content-paragraph{
				float: right;
				width: 70%;
				height: 45%;
			}


	}

}

.hollow.button.btn-main{
	border:1px solid $blue;
	color:$black;

		a{
			color:$black;
		}
}

// END

// Section Main Info

section.main-info{
	height: auto !important;
 	height: 100%;
	background-color:$blueMain;
	color:$white;

		.main-info-three{
			padding:0 3.125rem;
			border-right: 1px solid $white;
			margin:3.75rem 0;
			min-height: 38.75rem;


				img{
					padding:$padding 0;

				}
				p{
					height: 16rem;
					overflow: hidden;
				}


				a.hollow.button.main-info-btn{
					border:2px solid $white;
					color:$white;
					margin-bottom: 0;
				}



		}
		.main-info-three:last-child{
			border-right:none;
		}

}




section.main-news{
	height: auto !important;
 	height: 100%;

 	  .main-news-header{
 	  		padding:$padding;
		}
 		.main-news-three{
			padding:0 $padding;
			border-right: 1px solid $blue;
			margin-bottom: 3.75rem;


				img{
					padding:$padding 0; 

				}
				p.main-news-paragraph{
					min-height: 12.5rem;
					overflow: hidden;
				}
				span.comment{
					float: right;
				}
				a.main-news-btn{
					color:$black;
					border-color:$black;

				}
			}
		.main-news-three:last-child{
			border-right:none;
		
		   }

 		
}



footer{
	background-color:$blueMain;
	color:$white;

		.footer-left{
			padding-left:$padding;
			margin:3.75rem 0;
			border-right: 1px solid $white;


			a{
				color:$white;
			}

		}
		.footer-right{
			padding:0 $padding;
			margin:3.75rem 0;


		}


#delivered{
	width:100%;
	background-color:$white;
	color:$black;
	@include padding-all(1rem,0,1rem,3.125rem);


		a {
			h4{
			margin-bottom: 0;
			color:$black;
		 }
		}


}


}

// MAIN PAGE END!!!!!!!!!MAIN PAGE END!!!!!


// OFFER PAGE!!!!!!!!!!!OFFER PAGE!!!!!!


// Slider
div.orbit{


	ul.orbit-container{
		height: auto !important;


		button.orbit-previous, .orbit-next{
			top:350px;
			padding:0.8rem;
			color:$blueMain;
			background-color: rgba(255, 255, 255, 0.7);
			border:1px solid $black;
		}

		li.is-active, .orbit-slide{
			height: auto;

			img.orbit-image-manual{
				height:350px;
			}

			figcaption.orbit-main{
				position:absolute;
				top:0;
				width:60%;
				color:$white;
				padding-left:2rem;
				padding-top:1rem;
				text-align: justify;
				
			}

			div.main-slider{
				padding:1rem 0 1rem 2rem;
				height:auto;
				min-height: 350px;
				width: 60%;
				text-align: justify;
			}
	}
  }		/* koniec ul orbit */
} /* koniec orbita */

// END OFFER PAGE

// ABOUT PAGE!!!!!!!!!!!!!!!

section.about-me{
	.about-me-left{
		@extend .about-me-right;
		text-align: justify;

		

	}
	.about-me-right{
		
		padding:$padding;

	}
}

// END ABOUT PAGE !!!!!!!

// CONTACT PAGE

section.contact{
	div.contact-data{
		.contact-data-left{
				padding:0 $padding;
				margin:3.75rem 0;

					a{
						color:$black;
					}

		}
		.contact-data-right{
			@extend .contact-data-left;
			border-left:1px solid $blue;

		}

	}
	div.maps{
		padding:0;

	iframe.maps-ramka{
				padding:0 $padding;
				margin-top: 2.5rem;
				margin-bottom: 3.75rem;
				width: 100%;
				height: auto;
				min-height: 300px;
				}

	}
	#delivered-contact{
	width:100%;
	background-color:$blueMain;
	color:$white;
	@include padding-all(1rem,0,1rem,3.125rem);
		a {
			h4{
			margin-bottom: 0;
			color:$white;
		 }
		}


}

}

// END CONTACT PAGE

 .scrollup{
	width: 48px;
	height: 48px;
	text-decoration: none;
	background: url('../img/newarrow.png') no-repeat 0px 0px;
	position: fixed;
	right: 5px;
	bottom: 70px;
	display: none;
  z-index: 99999;
}





/* Small only  639px*/
@media screen and (max-width: 39.9375em) {
	h2,h3{
		font-size: 2rem;
	}
	h4{
		font-size: 1.5rem;
	}

// Navigation

	ul.menu-style{
		display: initial;
		li{
			a{
				background-color:$white;
				border-bottom:1px solid $blue;
				position: relative;
				font-weight: bold;
				display: inherit;
			}
			.magic{
				display: none;
			}
		
		}

	}

	// END


	section.main-content{

		height: auto;
		margin-bottom: 0;


			.main-content-left, .main-content-right{
				border-right:none;
				background-image:none;
				padding:0 1rem;
				height: auto;
				text-align: center !important;
				margin-bottom: 2rem;

						.main-content-paragraph{
							width: auto;
							height: auto;
							
						}
			}

	}

	// END MAIN-CONTENT

	// MAIN INFO

	section.main-info{
		.main-info-three{
			@include padding-all(auto,1rem,auto,1rem);
			margin-top: 2rem;
			margin-bottom: 0;
			border-right:none;
			padding-bottom: 3rem;
			border-bottom:5px solid $white;

				p{
					height: 13rem;
				}

		}
	}

// END MAIN INFO

	// MAIN NEWS
	section.main-news{
		.main-news-header{
			padding:1rem;
		}
		.main-news-three{
			padding:0 1rem;
			border-right:none;

			img{
				padding:1rem 0;
			}
		}

	}
	
		footer{
			.footer-left,.footer-right{
				padding:0 1rem;
				margin-top: 0.5rem;
				margin-bottom: 0;
				text-align: center;
				border-right:none;
			}
			#delivered{
				text-align: center;
				padding-left:0;

			}

	}
			.footer-left{
				border-bottom:5px solid white;
				
			}

// OFFER PAGE
// Slider

div.orbit{
	height:auto;

	ul.orbit-container{
	
		button.orbit-previous, .orbit-next{
			position:fixed;
			top:250px;
		}
		
		li.is-active, .orbit-slide{
			height: auto;


				img.orbit-image-manual{
					height: 127px;
				}

				figcaption.orbit-main{
					width: 100%;
					padding:1rem;
					h3{font-size:3rem;
						text-align: center;
						text-decoration: underline;
						text-shadow: 1px 1px 0 $black;
					}
					p{display:none;}
					ul{display:none;}
				}
				div.main-slider{
					 width: 100%;
					height: auto;
					padding:1rem 2rem;
					h3{text-align:center;}
					ul{text-align:justify;}
				}
		}

	} /* koniec ul contener */

} /* koniec orbita */


// CONTACT PAGE !!!!!!!!!!!

section.contact{
	div.contact-data{
		text-align: center;
		.contact-data-left , .contact-data-right {
				padding:0 1rem;
				margin-top: 0.5rem;
				margin-bottom: 0;
				border-left:none;
				border-bottom:1px solid $blue;

					a{
						color:$black;
					}

		}


	}
	div.maps{
		padding:0;

	iframe.maps-ramka{
				padding:0 1rem;
				margin:1rem auto;
				}

	}
	#delivered-contact{
			padding:1rem;
			text-align:center;
}

}
// END CONTACT PAGE!!!!!!!!

// ABOUT-ME

section.about-me{
	.about-me-left , .about-me-right{
		padding:1rem;
	}

}


// END ABOUT-ME

} 
// end media@ small


/* Medium only 640-1022px*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

	p{
		font-size: 1.2rem;
	}

	section.main-content{
			height: auto !important;
 			min-height: 100%;

 				.main-content-left{
 				border-right:none;
 				}

 			button.hollow.button.btn-main{
			margin-top:1rem;
		}
	}




	section.main-info{

		.main-info-three{
			border-right:none;
			margin-top: 2rem;
			margin-bottom: 0;
			padding-bottom: 2.5rem;
			border-bottom:5px solid $white;

				p{
					height: 8rem;
				}
		}
	}

	section.main-news{
		.main-news-three{
			border-right:none;
		}
	}
	footer{
		.footer-left{
		border-right:none;
		border-bottom: 1px solid white;
		border-bottom-width:5px;
		margin-top: 1rem;
		margin-bottom: 0;
		
		}
		.footer-right{
			margin-top:1rem;
			margin-bottom:0;
		}
	}

// OFFER PAGE!!!!!!!

// Slider

div.orbit{
	h3{font-weight:bold;}
	p,li{font-size:1.2rem;}


	ul.orbit-container{
		height: auto !important;


		button.orbit-previous, .orbit-next{
			top:400px;

		}

		li.is-active, .orbit-slide{
			height: auto;

			img.orbit-image-manual{
				height:400px;
			}

			figcaption.orbit-main{

				width:80%;

				
			}

			div.main-slider{
				
				height:auto;
				min-height: 400px;
				width: 80%;
				
			}
		} /* koniec li activ */
  }		/* koniec ul orbit */
} /* koniec orbita */



// END OFFER PAGE

// CONTACT PAGE

section.contact{
	div.contact-data{
		text-align: center;
	div.contact-data-right, .contact-data-left{
		border-left:none;
		margin-top: 1rem;
		margin-bottom:0;
		border-bottom:1px solid $blue;
	}
 }
}


// END CONTACT PAGE

}

/* Large and up 1024px*/
@media screen and (min-width: 64em) {}

/* Large only 1024 - 1199 */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


