html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: 100% 100%;
  height: 100%; }

a,
a:hover,
a:focus,
a:active,
a:visited,
a.active {
  outline: none;
  text-decoration: none; }

p {
  font-size: 1.6rem;
  font-family: 'Roboto Slab', serif; }

header {
  font-family: 'Lobster', cursive;
  font-size: 3rem; }
  header nav.navbar-default {
    margin-bottom: 0;
    background: transparent;
    border: none;
    color: #FFFFFF; }
    header nav.navbar-default .navbar-header a, header nav.navbar-default .navbar-header a:hover {
      color: #CC9900;
      font-size: 3rem;
      text-shadow: 1px 1px 0 black; }
    header nav.navbar-default .navbar-nav {
      text-align: center; }
      header nav.navbar-default .navbar-nav li a {
        color: #CC9900;
        text-shadow: 1px 1px 0 black; }
        header nav.navbar-default .navbar-nav li a:hover {
          color: #FFFFFF; }

/* end header */
section#home {
  font-family: 'Lobster', cursive;
  height: 100vh; }
  section#home #home-header {
    position: relative;
    color: #CC9900;
    text-align: center;
    top: 30vh;
    left: 0;
    text-shadow: 1px 1px 0 black; }
    section#home #home-header h1 {
      font-size: 6rem; }
    section#home #home-header h2 {
      font-size: 5rem; }

section.about-section {
  height: auto !important;
  min-height: 100%;
  overflow: hidden;
  background-color: white;
  padding-top: 1rem; }
  section.about-section div.me {
    padding-bottom: 2rem; }
    section.about-section div.me img.img-me {
      height: 150px; }
    section.about-section div.me h3 ~ p {
      padding: 1rem 3rem;
      text-align: justify; }
    section.about-section div.me blockquote {
      border-left: none; }
    section.about-section div.me h4 {
      margin: 3rem 0; }

ul.social-links {
  padding-left: 0; }
  ul.social-links li {
    list-style-type: none;
    display: inline-block; }
    ul.social-links li i {
      display: inline-block;
      width: 65px;
      height: 65px;
      margin: 1rem; }

.html5 {
  background: url("../icon1/html5.svg") no-repeat; }

.css3 {
  background: url("../icon1/css3.svg") no-repeat; }

.bootstrap {
  background: url("../icon1/bootstrap.svg") no-repeat; }

.foundation {
  background: url("../icon1/foundation.svg") no-repeat; }

.devices {
  background: url("../icon1/devices.svg") no-repeat; }

.javascript {
  background: url("../icon1/javascript.svg") no-repeat; }

.jquery {
  background: url("../icon1/jquery.svg") no-repeat; }

.sass {
  background: url("../icon1/sass.svg") no-repeat; }

.gulp {
  background: url("../icon1/gulp.svg") no-repeat; }

.bitbucket {
  background: url("../icon1/bitbucket.svg") no-repeat; }

.nodejs {
  background: url("../icon1/nodejs.svg") no-repeat; }

.python {
  background: url("../icon1/python.svg") no-repeat; }

.linux {
  background: url("../icon1/linux.svg") no-repeat; }

.photoshop {
  background: url("../icon1/photoshop.svg") no-repeat; }

.angularjs {
  background: url("../icon1/angularjs.svg") no-repeat; }

.php {
  background: url("../icon1/php.svg") no-repeat; }

.react {
  background: url("../icon1/react.svg") no-repeat; }

.linkedin {
  background: url("../icon1/linkedin.svg") no-repeat; }

.bitbucket {
  background: url("../icon1/bitbucket.svg") no-repeat; }

.facebook {
  background: url("../icon1/facebook.svg") no-repeat; }

section.portfolio-section {
  background-image: url("../img/portfolio.jpg");
  background-size: 100% 100%;
  height: 100%; }

section.contact-section {
  background-image: url("../img/contact.jpg");
  height: auto !important;
  background-size: cover; }
  section.contact-section .form-style {
    border: 1px solid black;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgba(244, 248, 246, 0.6); }
    section.contact-section .form-style span > a {
      color: #333; }

footer#footer {
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem; }
  footer#footer p {
    font-family: 'Lobster', cursive; }

.scrollup {
  width: 48px;
  height: 48px;
  text-decoration: none;
  background: url("../icon1/startup.svg") no-repeat 0px 0px;
  position: fixed;
  right: 0.5rem;
  bottom: 7rem;
  display: none;
  z-index: 99999; }

/* Small */
@media (max-width: 767px) {
  html, body {
    background-image: none; }

  header nav.navbar-default {
    margin-bottom: 0;
    background: transparent;
    border: none;
    color: #1D4A8B; }
    header nav.navbar-default .navbar-header button.navbar-toggle {
      background-color: #FFFFFF;
      border-color: #1D4A8B; }
      header nav.navbar-default .navbar-header button.navbar-toggle span.icon-bar {
        background-color: #1D4A8B; }
    header nav.navbar-default .navbar-header a, header nav.navbar-default .navbar-header a:hover {
      color: #1D4A8B;
      font-size: 3rem;
      text-shadow: 1px 1px 0 white; }
    header nav.navbar-default .navbar-nav li a {
      color: #1D4A8B;
      text-shadow: 1px 1px 0 white; }
      header nav.navbar-default .navbar-nav li a:hover {
        color: #FFFFFF;
        text-shadow: 1px 1px 0 #1D4A8B;
        background-color: #1D4A8B; }

  section#home {
    margin-top: -2rem;
    background: url("../img/space.jpg") no-repeat center;
    background-size: 100% 100%;
    height: 100%; }
    section#home #home-header {
      left: 0;
      top: 75%;
      color: #1D4A8B;
      text-shadow: none; }
      section#home #home-header h1 {
        font-size: 4rem; }
      section#home #home-header h2 {
        font-size: 3rem; }

  section.contact-section .form-style {
    margin: 4%; } }

/*# sourceMappingURL=style.css.map */
