// color
$gold:#CC9900;
$mainBlue:#1D4A8B;
$white:#FFFFFF;
 
$text-shadow:1px 1px 0 black;
$text-shadow1:1px 1px 0 white;

html,body{
	height: 100%;
	width: 100%;
	font-family: 'Roboto Slab', serif;
	background: url('../img/bg.jpg') no-repeat center;
	background-size: 100% 100%;
	height: 100%;
	
}

a,
a:hover,
a:focus,
a:active,
a:visited,
a.active {
  outline: none;
  text-decoration: none;

}

p{font-size:1.6rem;
font-family: 'Roboto Slab', serif;}


header{
	font-family: 'Lobster', cursive;
	font-size: 3rem;
	nav.navbar-default{
		margin-bottom: 0;
		background: transparent;
		border:none;
		color:$white;

			.navbar-header{

					a,a:hover{
						color:$gold;
						font-size: 3rem;
						text-shadow:$text-shadow;
					}


			}
			.navbar-nav{
				text-align:center;
					 li{ 

							a{
								color:$gold;
								text-shadow:$text-shadow;
							&:hover{
								color:$white;
								}
				
						
							}	
				
						}

			}	
	}

}	
/* end header */


section#home{
	font-family: 'Lobster', cursive;
	height: 100vh;
		
		#home-header{
			position: relative;
			color:$gold;
			text-align: center;
			top:30vh;
			left:0;
			text-shadow: 1px 1px 0 black;


				h1{
					font-size: 6rem;
					
				}
				h2{
					font-size: 5rem;
				}
		}
}

section.about-section{
	height: auto !important;
  	min-height: 100%;
	overflow: hidden;
	background-color: white;
  	padding-top: 1rem;
		div.me{
			padding-bottom:2rem;

	  		img.img-me{
	  			height:150px;
	  		}
	  		h3 ~ p{
	  			padding:1rem 3rem;
	  			text-align: justify;
	  		}
	  		blockquote{border-left:none;}
	
			h4{margin:3rem 0;}

		}
}

ul.social-links{ 
	padding-left:0;
		li { list-style-type:none;display:inline-block;
				i {display:inline-block;width:65px;height:65px;margin:1rem;}
	}

}



$icons:(html5,css3,bootstrap,foundation,devices,javascript,jquery,sass,gulp,bitbucket,nodejs,python,linux,photoshop,angularjs,php,react,linkedin,bitbucket,facebook);
@each $social in $icons{
	.#{$social} {background:url('../icon1/#{$social}.svg') no-repeat;}
}


section.portfolio-section{
	background-image: url('../img/portfolio.jpg');
	background-size: 100% 100%;
	height: 100%;
}

section.contact-section{
	background-image: url('../img/contact.jpg');
	height: auto !important;
	background-size: cover;

    

		.form-style{
			border:1px solid black;
			margin-top: 4%;
			margin-bottom: 4%;
			background-color: rgba(244, 248, 246, 0.6);

				span > a{color:#333;}
		}
}

footer#footer{
	text-align: center;
	padding-top: 1rem;
    font-size: 2rem;
     p{font-family: 'Lobster', cursive;}
 
  }

 .scrollup{
	width: 48px;
	height: 48px;
	text-decoration: none;
	background: url('../icon1/startup.svg') no-repeat 0px 0px;
	position: fixed;
	right: 0.5rem;
	bottom: 7rem;
	display: none;
    z-index: 99999;
  
}

/* Small */
@media (max-width: 767px) {
	html,body{

		background-image:none;
	}

	header{
	nav.navbar-default{
		margin-bottom: 0;
		background: transparent;
		border:none;
		color:$mainBlue;

			.navbar-header{

				button.navbar-toggle{
					background-color:$white;
					border-color:$mainBlue;
							span.icon-bar{background-color:$mainBlue;}

				}




				a,a:hover{
					color:$mainBlue;
					font-size: 3rem;
					text-shadow:$text-shadow1;

				}


			}
			.navbar-nav li{ 

				a{
					color:$mainBlue;
					text-shadow:$text-shadow1;
				&:hover{
						color:$white;
						text-shadow: 1px 1px 0 $mainBlue;
						background-color:$mainBlue;
						}
		
				
				}	
		
			}
	}

}	


	section#home{
		margin-top: -2rem;
		background:url('../img/space.jpg')no-repeat center;
			background-size: 100% 100%;
			height: 100%;
				#home-header{
					left: 0;
					top:75%;
					color:$mainBlue;
					text-shadow: none;
						h1{
							font-size:4rem;
						}
						h2{
							font-size:3rem;
						}
				}
	}

	section.about-section{
			div.me{
			
	  		   img.img-me{
	  				margin-top:1.5rem;
	  		}
	}

	section.contact-section{

			.form-style{
				margin:4%;
			}
	}




}





@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {


}


